<div class="container">
  <div class="row">
    <div class="col-12">
      <p>
        {{title}}
      </p>

      <p>
        {{title | uppercase}}
      </p>


      <div class="card">
        <div class="card-header">
        <p>
            {{objdetail.title | uppercase}}
        </p>

        <p>
          {{objdetail.count | number}}
        </p>

        <p>
          {{objdetail.price}}
        </p>

        <p>
          {{objdetail.price | currency:'INR'}} <br>
          {{objdetail.price | currency:'EUR'}}

        </p>


        <p>
          {{title | summary}}
        </p>


        <p
        highlighter 
        >
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, amet magni iure dignissimos suscipit, explicabo sequi eaque, et aut animi reprehenderit alias. Sed obcaecati iste eligendi neque dolorem cupiditate eius.
        </p>

        <app-data></app-data>
          
        </div>
      </div>
    </div>
  </div>
</div>